@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url(     "../fonts/roboto/Roboto-Thin.eot");
  src: url('../fonts/roboto/Roboto-Thin.eot?#iefix'    ) format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"),
    url('../fonts/roboto/Roboto-Thin.woff') format("woff"),
    url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto1";
  src: local(Roboto Thin), url(     "../fonts/roboto/Roboto-Thin.eot");
  src: url('../fonts/roboto/Roboto-Thin.eot?#iefix'    ) format("embedded-opentype"),
  url(      "../fonts/roboto/Roboto-Thin.woff2") format("woff2"),
  url('../fonts/roboto/Roboto-Thin.woff'     ) format("woff"),
  url(../fonts/roboto/Roboto-Thin.ttf     ) format("truetype");
  font-weight: 200;
}
